!!!
%html
  %head
    %title SX2C
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "https://use.fontawesome.com/releases/v5.12.0/css/all.css", crossorigin: "anonymous", integrity: "sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M"
  %body
    = render 'layouts/header'
    - if notice
      .alert.alert-warning.alert-dismissible.fade.show.fixed-top{:style=>'top:55px!important', :role => "alert"}
        = notice
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    - if alert
      .alert.alert-warning.alert-dismissible.fade.show.fixed-top{:style=>'top:55px!important', :role => "alert"}
        = alert
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
    = yield
    = render 'layouts/footer'
    %script{:src => "https://mozilla.github.io/pdf.js/build/pdf.js", :type => "text/javascript"}
